[submodule "Hos"]
	path = Hos
	url = https://github.com/Sapthaka2346/HospitalService.git
[submodule "User"]
	path = User
	url = https://github.com/Dumindu98/UserService.git
[submodule "HospitalService"]
	path = HospitalService
	url = https://github.com/Sapthaka2346/HospitalService.git
[submodule "Doctor"]
	path = Doctor
	url = https://github.com/KasuniSenevirathne/Doctor_Service.git
[submodule "Pharmacy"]
	path = Pharmacy
	url = https://github.com/AdeepaAkalanka/PharmacyService.git
